* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body, html {
  height: 100%;
  background-color: #f0f0f0;
}

#header {
  display: table;
  width: 100%;
  background: #ffa84c;
  background: -moz-linear-gradient(top, #ffa84c 0%, #ff8e38 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff8e38));
  background: -webkit-linear-gradient(top, #ffa84c 0%,#ff8e38 100%);
  background: -o-linear-gradient(top, #ffa84c 0%,#ff8e38 100%);
  background: -ms-linear-gradient(top, #ffa84c 0%,#ff8e38 100%);
  background: linear-gradient(to bottom, #ffa84c 0%,#ff8e38 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff8e38',GradientType=0 );
  box-shadow: 5px 2px 5px 0 #949494;  
}

h3 {
  font-family: sans-serif;
  font-size: 16px;
  margin: 50px 0 20px 10px;

}

.nav-bar ul {
  margin-left: 40px;
  padding-top: 2px;
}

.nav-bar ul li {
  padding: 0 10px;
  display: block;
  background-image: url(../images/border-vertical.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  float: left;
}

.nav-bar ul li:first-of-type {
  display: inline-block;
  background-image: url(../images/border-vertical.png), url(../images/border-vertical.png);
  background-repeat: no-repeat;
  background-position: 100% 50%, 0% 50%;
}

.nav-bar ul li:hover {
  background: #ffa84c;
  background: -moz-linear-gradient(top, #ffa84c 0%, #ff7105 52%, #ff8e38 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(52%,#ff7105), color-stop(100%,#ff8e38));
  background: -webkit-linear-gradient(top, #ffa84c 0%,#ff7105 52%,#ff8e38 100%);
  background: -o-linear-gradient(top, #ffa84c 0%,#ff7105 52%,#ff8e38 100%);
  background: -ms-linear-gradient(top, #ffa84c 0%,#ff7105 52%,#ff8e38 100%);
  background: linear-gradient(to bottom, #ffa84c 0%,#ff7105 52%,#ff8e38 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff8e38',GradientType=0 );
}

.nav-bar ul li a {
  display: block;
  padding: 5px 5px 5px 10px;
  text-decoration: none;
  color: #E8E8E8;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.nav-bar .sub-menu {
  background-image: url(../images/arrow-fill-down-white.png);
  background-position: 95% 50%;
  padding-right: 15px;
  background-repeat: no-repeat; 
}

.search-wrapper {
  float: right;
  display: inline;
  padding: 5px;
  margin-right: 40px;
  background-image: url(../images/border-vertical.png);
  background-position: 100% 50%; 
  background-repeat: no-repeat; 
}

.search-wrapper form {
  border-radius: 10px 5px 5px 10px;
  background-color: white;
  margin-right: 3em;
  width: 95%;
}

.search-wrapper form input {
  padding-left: 15px;
  background-color: white;
  border-radius: 11px 0 0 11px;
  border: none;
  min-height: 21px;
  max-width: 120px;
  font-weight: bold;
}

.search-wrapper form a {
  position: relative;
  color: grey;
  font-size: 11px;
  font-family: "Arial" sans-serif;
  cursor: pointer;
}

.search-wrapper form a i {
  position: absolute;
  height: 9px;
  width: 9px;
  padding: 2px;
  top: 2px;
  left: 35px;
  background-image: url(../images/arrow-fill-down.png);
  background-repeat: no-repeat; 
}

.search-wrapper form div:first-of-type {
  display: inline-block;
  width: 77%;
  border-radius: 11px 0 0 11px;
}

.search-wrapper form div:last-of-type {
  width: 21%;
  float: right;
}

.search-wrapper form button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  font-size: 12px;
  color: #7c7c7c;
  font-weight: bold;
  border: none;
  border-left: 1px solid #7c7c7c;
  background: #f8f2f1;
  background: -moz-linear-gradient(top, #f8f2f1 0%, #cccbcb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f2f1), color-stop(100%,#cccbcb));
  background: -webkit-linear-gradient(top, #f8f2f1 0%,#cccbcb 100%);
  background: -o-linear-gradient(top, #f8f2f1 0%,#cccbcb 100%);
  background: -ms-linear-gradient(top, #f8f2f1 0%,#cccbcb 100%);
  background: linear-gradient(to bottom, #f8f2f1 0%,#cccbcb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f2f1', endColorstr='#cccbcb',GradientType=0 );
  border-radius: 0 5px 5px 0;
  width: 100%;
  height: 21px;
  cursor: pointer;
}


#content-container {
  min-width: 100%;
  min-height: 100%;
  margin-bottom: 5%;
}


.breadcrumb {
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding-top: 40px;
  padding-left: 50px;
  font-size: 20px;
}

.breadcrumb li {
  cursor: default;
  display: inline;
  padding: 20px 20px 20px 0;
  font-family: "Arial";
  color: #949494;
  background-position: right;
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;

}

.breadcrumb li:nth-of-type(1) {
  font-weight: bolder;
  color: black;
  margin-left: 30px;
}

.breadcrumb li:last-of-type {
  background-image: none;
}

#photo-container {
  float: left;
  width: 20%;
  padding-top: 50px; 
  padding-left: 80px;
}

#photo-container img{
  width: 180px;
  height: 230px;
  border: 4px solid white;
  box-shadow: 2px 2px 5px 0 #949494;
}

.avatar-nav button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background: #f0f0f0;
  margin-top: 10px;
  display: block;
  width: 180px;
  text-align: center;
  font-family: "Arial";
  font-size: 12px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #cccbcb;
  cursor: pointer;
  position: relative;
  box-shadow: 1px 1px 1px 0 #949494;
}

.avatar-nav button:nth-of-type(1) {
  color: #54a2d3;
}

.avatar-nav button:nth-of-type(1) i {
  position: absolute;
  width: 20px;
  height: 40px;
  padding: 2px;
  top: -2px;
  background-image: url(../images/arrow-fill-up.png);
  background-repeat: no-repeat; 
}

.avatar-nav button:nth-of-type(2) i {
  background-image: url(../images/decline.png);
  background-repeat: no-repeat;
  height: 40px;
  margin-left: 5px;
  padding: 5px;
  position: absolute;
  top: 7px;
  width: 20px;
}

.info-container {
  padding-top: 50px;
  width: 60%;
  display: inline-block;
  margin: 0 auto;
}

.tab-bar {
  border-bottom: 1px solid #a5a6a4;
  margin-right: 255px;
}

.tab-bar ul {
  list-style: none;
}

.tab-bar ul li {
  cursor: pointer;
  font-family: serif;
  font-weight: lighter;
  display: inline;
  margin-right: 15px;
  padding: 3px 10px 0 10px; 
}

.tab-open {
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #a5a6a4;
  border-right: 1px solid #a5a6a4;
  border-left: 1px solid #a5a6a4;
  border-radius: 5px 5px 0 0;
}

.tab-closed {
  border: 1px solid #a5a6a4;
  border-bottom: 1px solid #939393;
  border-radius: 5px 5px 0 0;
  color: white;
  background: #939393;
  background: -moz-linear-gradient(top, #939393 0%, #8e8e8e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#939393), color-stop(100%,#8e8e8e));
  background: -webkit-linear-gradient(top, #939393 0%,#8e8e8e 100%);
  background: -o-linear-gradient(top, #939393 0%,#8e8e8e 100%);
  background: -ms-linear-gradient(top, #939393 0%,#8e8e8e 100%);
  background: linear-gradient(to bottom, #939393 0%,#8e8e8e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#939393', endColorstr='#8e8e8e',GradientType=0 );
}
.typing {
  background-image: url(../images/pencil.png), url(../images/decline.png);
  background-position: 90% 50%, 97% 50%; 
  background-repeat: no-repeat;
  padding-right: 30px;
}


.info-radio input, .info-checkbox input {
  margin-right: 5px;
  cursor: pointer;
  display: none;
}

.info-radio label, .info-checkbox label{
  color: black;
}

.info-checkbox label {
  background-image: url(../images/checkbox-empty.png);
  background-position: left;
  background-repeat: no-repeat; 
  padding-left: 20px;
}

.info-checkbox input:checked  + label {
  padding-left: 20px;
  background-image: url(../images/checkbox-checked.png);
  background-position: left;
  background-repeat: no-repeat; 
}

.info-radio label {
  margin-right: 10px;
  padding-left: 20px;
  background-image: url(../images/radio-empty.png);
  background-position: left;
  background-repeat: no-repeat; 
}

.info-radio label:first-of-type {
  background-image: none;
  color: #8e8e8e;
  padding: 0;
  margin-right: 80px;
}

.info-radio input:checked + label {
  padding-left: 20px;
  background-image: url(../images/radio-checked.png);
  background-position: left;
  background-repeat: no-repeat; 
}

.info-block:nth-of-type(4) .info-radio:first-of-type label:first-of-type {
  margin-right: 112px;
}

.info-block:nth-of-type(4) .info-radio:nth-of-type(2) label:first-of-type {
  margin-right: 35px;
}

.info-block:nth-of-type(4) .info-radio:nth-of-type(2) label:nth-of-type(2) {
  margin-right: 16px;
}

.info-block:nth-of-type(4) div:nth-of-type(3) label:first-of-type {
  background-image: none;
  color: #8e8e8e;
  padding: 0;
  margin-right: 61px;
}

.info-block:nth-of-type(4) div:nth-of-type(4) label,
.info-block:nth-of-type(4) div:nth-of-type(5) label {
  position: relative;
  left: 172px;
}

.info-block:last-of-type .info-row input, .info-block:last-of-type .info-row-main input {
  position: relative;
}

.info-block:last-of-type .info-row input {
  right: 10px;
}

.info-select select {
  cursor: pointer;
  width: 365px;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  border: 1px solid #a5a6a4;
  border-radius: 0;
  text-indent: 0.01px;
  line-height: 18px;
  padding: 4px;
  text-shadow: 0 1px 0 white;
  background-image: url(../images/select-button.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  position: relative;
  left: 60px;
}

.info-select:last-of-type select {
  left: 56px;
}

.info-select.long select {
  left: 40px;
}

.info-select select option {
  padding: 6px 5px;
  text-shadow: none;
}

.no-label {
  margin-left: 25%;
  margin-top: 1%;
}

.info-block {
  padding: 3px 0 10px 0;
  background-image: url(../images/border-horizontal.png);
  background-position: top;
  background-repeat: repeat-x;
  width: 70%;
}

.info-block:first-of-type div:nth-of-type(4) label {
  margin-right: 17.2%;
}

.info-block:nth-of-type(2) .info-row-main:first-of-type label {
   margin-right: 17.7%;
}

.info-block:nth-of-type(2) .info-row-main textarea {
   margin-left: 28px;
}

.info-block-main {
  margin-right: 40px;
}

.info-row-main {
  margin-top: 5px;
  width: 107%;
}

.info-row-main label {
  margin-right: 57px;
}


.info-row {
  margin-top: 5px;
}

.info-row input {
  margin-left: 172px;

}

.info-row-main input, .info-row input {
  width: 365px;
  height: 25px;
  padding: 0 5px;
}


.info-textarea textarea {
  border: 1px solid #a5a6a4;
  min-width: 365px;
  max-width: 365px; 
  min-height: 100px;
  max-height: 100px;
  overflow: scroll;
  padding: 10px;
}

.info-textarea label {
  position: relative;
  top: -85px;
}

.info-block:nth-of-type(2) div:last-of-type textarea{
  margin-left: 5px;
}

#main-info {
  width: 90%;
  display: inline-block;
}

#main-info form {
  width: 78%;
}

.plus-button{
  cursor: pointer;
  border-radius: 3px;
  border: none;
  box-shadow: 1px 1px 1px 1px white;
  background: -moz-linear-gradient(top, #56dd4b 0%, #26c12e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56dd4b), color-stop(100%,#26c12e));
  background: -webkit-linear-gradient(top, #56dd4b 0%,#26c12e 100%);
  background: -o-linear-gradient(top, #56dd4b 0%,#26c12e 100%);
  background: -ms-linear-gradient(top, #56dd4b 0%,#26c12e 100%);
  background: linear-gradient(to bottom, #56dd4b 0%,#26c12e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56dd4b', endColorstr='#26c12e',GradientType=0 );
  min-height: 15px;
  min-width: 15px;
  box-shadow: 1px 2px 1px 0 #949494;
  padding-top: 4px;
  padding-left: 4px;
  margin-top: 2px;
  position: relative;
  top: 4px;
  margin-left: 10px;
}

.plus-button span {
  background-image: url(../images/plus.png);
  background-repeat: no-repeat;
  display: block; 
  padding: 8px;
}

label {
  color: #8e8e8e;
  font-family: "Arial";
  font-size: 13px;
}

#button-container {
  width: 10%;
  position: absolute;
  left: 53%;
  top: 48%;
}

#button-container button {
  border: none;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 25px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px 0 #949494;
  cursor: pointer;
}

#button-container .button-accept button {
  background: -moz-linear-gradient(top, #56dd4b 0%, #26c12e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56dd4b), color-stop(100%,#26c12e));
  background: -webkit-linear-gradient(top, #56dd4b 0%,#26c12e 100%);
  background: -o-linear-gradient(top, #56dd4b 0%,#26c12e 100%);
  background: -ms-linear-gradient(top, #56dd4b 0%,#26c12e 100%);
  background: linear-gradient(to bottom, #56dd4b 0%,#26c12e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56dd4b', endColorstr='#26c12e',GradientType=0 );
  color: white;
}

#button-container .button-reset button {
  background: #929292;
  background: -moz-linear-gradient(top, #929292 0%, #8d8d8d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#929292), color-stop(100%,#8d8d8d));
  background: -webkit-linear-gradient(top, #929292 0%,#8d8d8d 100%);
  background: -o-linear-gradient(top, #929292 0%,#8d8d8d 100%);
  background: -ms-linear-gradient(top, #929292 0%,#8d8d8d 100%);
  background: linear-gradient(to bottom, #929292 0%,#8d8d8d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#929292', endColorstr='#8d8d8d',GradientType=0 );
  color: white;
}

#button-container .button-back button {
  position: relative;
  color: #424040;
  background: #c8c8c8;
  background: -moz-linear-gradient(top, #c8c8c8 0%, #bcbcbc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8c8c8), color-stop(100%,#bcbcbc));
  background: -webkit-linear-gradient(top, #c8c8c8 0%,#bcbcbc 100%);
  background: -o-linear-gradient(top, #c8c8c8 0%,#bcbcbc 100%);
  background: -ms-linear-gradient(top, #c8c8c8 0%,#bcbcbc 100%);
  background: linear-gradient(to bottom, #c8c8c8 0%,#bcbcbc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c8c8', endColorstr='#bcbcbc',GradientType=0 );
  
}

#button-container .button-back button i {
  position: absolute;
  top: 7px;
  left: 10px;
  height: 20px;
  width: 20px;
  background-image: url(../images/arrow-fill-left.png);
  background-repeat: no-repeat;
}


