* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body, html {
  height: 100%;
  background-color: #f0f0f0;
}

#grid {
  min-height: 100%;
  position: relative;
  width: 100%;
  z-index: 0;
}

.grid-row:after { 
  clear: both; 
  content: ""; 
  display: block; 
}

/* Cell width */

.grid-cell {
  float: left;
  opacity: 1;
  width: 8.3333333%;
}

.cell-span2 {
  width: 16.666667%; /*160px*/
}

.cell-span3 {
  width: 25.000000%; /*240px*/
}

.cell-span4 {
  width: 33.333333%; /*320px*/
}

.cell-span5 {
  width: 41.666667%; /*400px*/
}

.cell-span6 {
  width: 50.00000%; /*480px*/ 
}

.cell-span7 {
  width: 58.333333%; /*560px*/
}

.cell-span8 {
  width: 66.666667%; /*640px*/
}

.cell-span9 {
  width: 75.000000%; /*720px*/
}

.cell-span10 {
  width: 83.333333%; /*800px*/ 
}

.cell-span11 {
  width: 91.666667%; /*880px*/ 
}

.cell-span12 {
  width: 100%
}

.wb-cell-body {
  padding: 10px;
}

#header {
  display: table;
  width: 100%;
  padding: 5px 0 5px 0;
  background: #ffa84c;
  background: -moz-linear-gradient(top, #ffa84c 0%, #ff8e38 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff8e38));
  background: -webkit-linear-gradient(top, #ffa84c 0%,#ff8e38 100%);
  background: -o-linear-gradient(top, #ffa84c 0%,#ff8e38 100%);
  background: -ms-linear-gradient(top, #ffa84c 0%,#ff8e38 100%);
  background: linear-gradient(to bottom, #ffa84c 0%,#ff8e38 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff8e38',GradientType=0 );
  box-shadow: 5px 2px 5px 0 #949494;  
}

h3 {
  font-family: sans-serif;
  font-size: 16px;
  margin: 50px 0 20px 10px;

}

.nav-bar ul {
  float: left;
  font-weight: none;
}

.nav-bar ul li {
  display: inline;
}

.nav-bar ul li:hover {
  background: #ffa84c;
  background: -moz-linear-gradient(top, #ffa84c 0%, #ff7105 52%, #ff8e38 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(52%,#ff7105), color-stop(100%,#ff8e38));
  background: -webkit-linear-gradient(top, #ffa84c 0%,#ff7105 52%,#ff8e38 100%);
  background: -o-linear-gradient(top, #ffa84c 0%,#ff7105 52%,#ff8e38 100%);
  background: -ms-linear-gradient(top, #ffa84c 0%,#ff7105 52%,#ff8e38 100%);
  background: linear-gradient(to bottom, #ffa84c 0%,#ff7105 52%,#ff8e38 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff8e38',GradientType=0 );
}

.nav-bar ul li a {
  text-decoration: none;
  width: 40px;
  color: #E8E8E8;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.search-wrapper {
  float: right;
  display: inline;
}
.search-wrapper form {
  border-radius: 10px 5px 5px 10px;
  background-color: white;
  margin-right: 3em;
  width: 215px;
}

.search-wrapper form input {
  padding-left: 15px;
  background-color: white;
  border-radius: 11px 0 0 11px;
  border: none;
  min-height: 21px;
  max-width: 130px;
}

.search-wrapper form a {
  color: grey;
  font-size: 11px;
  font-family: "Arial" sans-serif;
}

.search-wrapper form button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  font-size: 12px;
  color: grey;
  border: none;
  background: #f8f2f1;
  background: -moz-linear-gradient(top, #f8f2f1 0%, #cccbcb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f2f1), color-stop(100%,#cccbcb));
  background: -webkit-linear-gradient(top, #f8f2f1 0%,#cccbcb 100%);
  background: -o-linear-gradient(top, #f8f2f1 0%,#cccbcb 100%);
  background: -ms-linear-gradient(top, #f8f2f1 0%,#cccbcb 100%);
  background: linear-gradient(to bottom, #f8f2f1 0%,#cccbcb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f2f1', endColorstr='#cccbcb',GradientType=0 );
  border-radius: 0 5px 5px 0;
  width: 38px;
  float: right;
  height: 21px;
}

#content-container {
  min-width: 100%;
  min-height: 100%;
  margin-bottom: 5%;
}


.breadcrumb {
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding-top: 40px;
  padding-left: 50px;
  font-size: 20px;
}

.breadcrumb li {
  cursor: default;
  display: inline;
  padding: 20px 20px 20px 0;
  font-family: "Arial";
  color: #949494;
  background-position: right;
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;

}

.breadcrumb li:nth-of-type(1) {
  font-weight: bolder;
  color: black;
  margin-left: 30px;
}

.breadcrumb li:last-of-type {
  background-image: none;
}

#photo-container {
  float: left;
  width: 20%;
  padding-top: 50px; 
  padding-left: 80px;
}

#photo-container img{
  width: 180px;
  height: 230px;
  border: 4px solid white;
  box-shadow: 2px 2px 5px 0 #949494;
}

.avatar-nav input {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background: #f0f0f0;
  margin-top: 10px;
  display: block;
  width: 180px;
  text-align: center;
  font-family: "Arial";
  font-size: 12px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #cccbcb;
  cursor: pointer;
}

.avatar-nav input:nth-of-type(1) {
  color: #54a2d3;
}

.info-container {
  padding-top: 50px;
  width: 60%;
  display: inline-block;
  margin: 0 auto;
}

.tab-bar {
  border-bottom: 1px solid #a5a6a4;
  margin-right: 150px;
}

.tab-bar ul {
  list-style: none;
}

.tab-bar ul li {
  cursor: pointer;
  font-family: serif;
  font-weight: lighter;
  display: inline;
  margin-right: 15px;
  padding: 3px 5px 0 5px; 
}

.tab-open {
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #a5a6a4;
  border-right: 1px solid #a5a6a4;
  border-left: 1px solid #a5a6a4;
  border-radius: 5px 5px 0 0;
}

.tab-closed {
  border: 1px solid #a5a6a4;
  border-bottom: 1px solid #939393;
  border-radius: 5px 5px 0 0;
  color: white;
  background: #939393;
  background: -moz-linear-gradient(top, #939393 0%, #8e8e8e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#939393), color-stop(100%,#8e8e8e));
  background: -webkit-linear-gradient(top, #939393 0%,#8e8e8e 100%);
  background: -o-linear-gradient(top, #939393 0%,#8e8e8e 100%);
  background: -ms-linear-gradient(top, #939393 0%,#8e8e8e 100%);
  background: linear-gradient(to bottom, #939393 0%,#8e8e8e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#939393', endColorstr='#8e8e8e',GradientType=0 );
}

.info-form {
  padding-top: 40px;
}

.info-text input{
  border: 1px solid #a5a6a4;
  width: 100%;
  height: 25px;
  padding: 5px; 
}

.info-text textarea {
  border: 1px solid #a5a6a4;
  min-width: 100%;
  max-width: 100%; 
  min-height: 5%;
  max-height: 100px;
  overflow: scroll;
  padding: 10px;
}

.info-radio label, .info-checkbox label{
  color: black;
}

.info-radio input, .info-checkbox input {
  margin-right: 5px;
  cursor: pointer;
}

.info-checkbox.no-label input {
  margin-left: 5%;
}

.info-select select {
  cursor: pointer;
  width: 100%;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  border: 1px solid #a5a6a4;
  border-radius: 0;
  text-indent: 0.01px;
  overflow: '';
  line-height: 18px;
  padding: 4px;
  text-shadow: 0 1px 0 white;
}

.info-select select option {
  padding: 6px 5px;
  text-shadow: none;
}

.info-select:before {
  z-index: 1;
}

.info-select:after {
  z-index: 2;
}

.no-label {
  margin-left: 25%;
  margin-top: 1%;
}

.info-block-part {
  margin-top: 10px;
  margin-left: 10px;
}

.plus-button {
  padding-left: 15px;
}

.plus-button button {
  cursor: pointer;
  border-radius: 3px;
  border: none;
  box-shadow: 1px 1px 1px 1px white;
  background: -moz-linear-gradient(top, #56dd4b 0%, #26c12e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56dd4b), color-stop(100%,#26c12e));
  background: -webkit-linear-gradient(top, #56dd4b 0%,#26c12e 100%);
  background: -o-linear-gradient(top, #56dd4b 0%,#26c12e 100%);
  background: -ms-linear-gradient(top, #56dd4b 0%,#26c12e 100%);
  background: linear-gradient(to bottom, #56dd4b 0%,#26c12e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56dd4b', endColorstr='#26c12e',GradientType=0 );
  min-height: 15px;
  min-width: 15px;
  box-shadow: 1px 2px 1px 0 #949494;
  padding-top: 4px;
  padding-left: 4px;
  margin-top: 2px; 
}

.plus-button span {
  background-image: url(../images/plus.png);
  background-repeat: no-repeat;
  display: block; 
  padding: 8px;
}

label {
  color: #8e8e8e;
  font-family: "Arial";
  font-size: 13px;
}

.form-button button {
  border: none;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 25px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px 0 #949494;
  cursor: pointer;
}

.form-button.button-accept button {
  background: -moz-linear-gradient(top, #56dd4b 0%, #26c12e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56dd4b), color-stop(100%,#26c12e));
  background: -webkit-linear-gradient(top, #56dd4b 0%,#26c12e 100%);
  background: -o-linear-gradient(top, #56dd4b 0%,#26c12e 100%);
  background: -ms-linear-gradient(top, #56dd4b 0%,#26c12e 100%);
  background: linear-gradient(to bottom, #56dd4b 0%,#26c12e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56dd4b', endColorstr='#26c12e',GradientType=0 );
  color: white;
}

.form-button.button-reset button {
  background: #929292;
  background: -moz-linear-gradient(top, #929292 0%, #8d8d8d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#929292), color-stop(100%,#8d8d8d));
  background: -webkit-linear-gradient(top, #929292 0%,#8d8d8d 100%);
  background: -o-linear-gradient(top, #929292 0%,#8d8d8d 100%);
  background: -ms-linear-gradient(top, #929292 0%,#8d8d8d 100%);
  background: linear-gradient(to bottom, #929292 0%,#8d8d8d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#929292', endColorstr='#8d8d8d',GradientType=0 );
  color: white;
}

.form-button.button-back button {
  position: relative;
  color: #424040;
  background: #c8c8c8;
  background: -moz-linear-gradient(top, #c8c8c8 0%, #bcbcbc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8c8c8), color-stop(100%,#bcbcbc));
  background: -webkit-linear-gradient(top, #c8c8c8 0%,#bcbcbc 100%);
  background: -o-linear-gradient(top, #c8c8c8 0%,#bcbcbc 100%);
  background: -ms-linear-gradient(top, #c8c8c8 0%,#bcbcbc 100%);
  background: linear-gradient(to bottom, #c8c8c8 0%,#bcbcbc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c8c8', endColorstr='#bcbcbc',GradientType=0 );
  
}

.form-button.button-back button i {
  position: absolute;
  top: 7px;
  left: 10px;
  height: 20px;
  width: 20px;
  background-image: url(../images/arrow-fill-left.png);
  background-repeat: no-repeat;
}


